In [ ]:
import pandas as pd

In [ ]:
lookup = pd.read_csv("data/data.csv")

In [ ]:
lookup

In [ ]:
lookup = lookup.drop(lookup[lookup["length"] != 11].index)

In [ ]:
lookup

In [ ]:
temp = "etaoinsrhldcumfpgwybvkxjqz"
first_guess_list = []
for _ in temp:
    first_guess_list.append(_)
    
first_guess_list

In [ ]:
for letter in first_guess_list:
    if input(f"Does Your Word have {letter}") == "True":
        first_guess = letter
        break

In [ ]:
print(first_guess)
lookup.drop(lookup[lookup[f"{first_guess}"] == "-1"].index)

In [ ]:
number_of_first_guess = int(input(f"number of {first_guess}"))
location = []
for _ in range(number_of_first_guess):
    location.append(int(input(f"location of {first_guess}")))
location

In [2]:
lookup = pd.read_csv("data/data.csv")

In [3]:
lookup

,count,word,length,contains,a,b,c,d,e,f,...,q,r,s,t,u,v,w,x,y,z
0,23135851162,the,3.0,"('e', 'h', 't')",-1,-1,-1,-1,"(2,)",-1,...,-1,-1,-1,"(0,)",-1,-1,-1,-1,-1,-1
1,13151942776,of,2.0,"('f', 'o')",-1,-1,-1,-1,-1,"(1,)",...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,12997637966,and,3.0,"('a', 'd', 'n')","(0,)",-1,-1,"(2,)",-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,12136980858,to,2.0,"('o', 't')",-1,-1,-1,-1,-1,-1,...,-1,-1,-1,"(0,)",-1,-1,-1,-1,-1,-1
4,9081174698,a,1.0,"('a',)","(0,)",-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333328,12711,gooek,5.0,"('e', 'g', 'k', 'o', 'o')",-1,-1,-1,-1,"(3,)",-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
333329,12711,gooddg,6.0,"('d', 'd', 'g', 'g', 'o', 'o')",-1,-1,-1,"(3, 4)",-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
333330,12711,gooblle,7.0,"('b', 'e', 'g', 'l', 'l', 'o', 'o')",-1,"(3,)",-1,-1,"(6,)",-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
333331,12711,gollgo,6.0,"('g', 'g', 'l', 'l', 'o', 'o')",-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
333332,12711,golgw,5.0,"('g', 'g', 'l', 'o', 'w')",-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,"(4,)",-1,-1,-1

In [5]:
lookup = lookup.drop(lookup[lookup["length"] != 11].index)

In [6]:
lookup

,count,word,length,contains,a,b,c,d,e,f,...,q,r,s,t,u,v,w,x,y,z
48,932594387,information,11.0,"('a', 'f', 'i', 'i', 'm', 'n', 'n', 'o', 'o', ...","(6,)",-1,-1,-1,-1,"(2,)",...,-1,"(4,)",-1,"(7,)",-1,-1,-1,-1,-1,-1
222,286291411,development,11.0,"('d', 'e', 'e', 'e', 'l', 'm', 'n', 'o', 'p', ...",-1,-1,-1,"(0,)","(1, 3, 8)",-1,...,-1,-1,-1,"(10,)",-1,"(2,)",-1,-1,-1,-1
378,196301245,description,11.0,"('c', 'd', 'e', 'i', 'i', 'n', 'o', 'p', 'r', ...",-1,-1,"(3,)","(0,)","(1,)",-1,...,-1,"(4,)","(2,)","(7,)",-1,-1,-1,-1,-1,-1
487,158982297,accessories,11.0,"('a', 'c', 'c', 'e', 'e', 'i', 'o', 'r', 's', ...","(0,)",-1,"(1, 2)",-1,"(3, 9)",-1,...,-1,"(7,)","(4, 5, 10)",-1,-1,-1,-1,-1,-1,-1
508,152776595,application,11.0,"('a', 'a', 'c', 'i', 'i', 'l', 'n', 'o', 'p', ...","(0, 6)",-1,"(5,)",-1,-1,-1,...,-1,-1,-1,"(7,)",-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332985,12713,jewelryinfo,11.0,"('e', 'e', 'f', 'i', 'j', 'l', 'n', 'o', 'r', ...",-1,-1,-1,-1,"(1, 3)","(9,)",...,-1,"(5,)",-1,-1,-1,-1,"(2,)",-1,"(6,)",-1
333163,12712,financeiros,11.0,"('a', 'c', 'e', 'f', 'i', 'i', 'n', 'n', 'o', ...","(3,)",-1,"(5,)",-1,"(6,)","(0,)",...,-1,"(8,)","(10,)",-1,-1,-1,-1,-1,-1,-1
333172,12712,britishairs,11.0,"('a', 'b', 'h', 'i', 'i', 'i', 'r', 'r', 's', ...","(7,)","(0,)",-1,-1,-1,-1,...,-1,"(1, 9)","(5, 10)","(3,)",-1,-1,-1,-1,-1,-1
333188,12711,wwwsexdrugs,11.0,"('d', 'e', 'g', 'r', 's', 's', 'u', 'w', 'w', ...",-1,-1,-1,"(6,)","(4,)",-1,...,-1,"(7,)","(3, 10)",-1,"(8,)",-1,"(0, 1, 2)","(5,)",-1,-1
333274,12711,hyundaecard,11.0,"('a', 'a', 'c', 'd', 'd', 'e', 'h', 'n', 'r', ...","(5, 8)",-1,"(7,)","(4, 10)","(6,)",-1,...,-1,"(9,)",-1,-1,"(2,)",-1,-1,-1,"(1,)",-1

In [8]:
temp = "etaoinsrhldcumfpgwybvkxjqz"
first_guess_list = []
for _ in temp:
    first_guess_list.append(_)
    
first_guess_list

['e',
 't',
 'a',
 'o',
 'i',
 'n',
 's',
 'r',
 'h',
 'l',
 'd',
 'c',
 'u',
 'm',
 'f',
 'p',
 'g',
 'w',
 'y',
 'b',
 'v',
 'k',
 'x',
 'j',
 'q',
 'z']

In [17]:
for letter in first_guess_list:
    if input(f"Does Your Word have {letter}") == "True":
        first_guess = letter
        break

Does Your Word have eTrue

In [24]:
print(first_guess)
lookup.drop(lookup[lookup[f"{first_guess}"] == "-1"].index)

e

,count,word,length,contains,a,b,c,d,e,f,...,q,r,s,t,u,v,w,x,y,z
222,286291411,development,11.0,"('d', 'e', 'e', 'e', 'l', 'm', 'n', 'o', 'p', ...",-1,-1,-1,"(0,)","(1, 3, 8)",-1,...,-1,-1,-1,"(10,)",-1,"(2,)",-1,-1,-1,-1
378,196301245,description,11.0,"('c', 'd', 'e', 'i', 'i', 'n', 'o', 'p', 'r', ...",-1,-1,"(3,)","(0,)","(1,)",-1,...,-1,"(4,)","(2,)","(7,)",-1,-1,-1,-1,-1,-1
487,158982297,accessories,11.0,"('a', 'c', 'c', 'e', 'e', 'i', 'o', 'r', 's', ...","(0,)",-1,"(1, 2)",-1,"(3, 9)",-1,...,-1,"(7,)","(4, 5, 10)",-1,-1,-1,-1,-1,-1,-1
556,139710600,performance,11.0,"('a', 'c', 'e', 'e', 'f', 'm', 'n', 'o', 'p', ...","(7,)",-1,"(9,)",-1,"(1, 10)","(3,)",...,-1,"(2, 5)",-1,-1,-1,-1,-1,-1,-1,-1
762,104230315,electronics,11.0,"('c', 'c', 'e', 'e', 'i', 'l', 'n', 'o', 'r', ...",-1,-1,"(3, 9)",-1,"(0, 2)",-1,...,-1,"(5,)","(10,)","(4,)",-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332979,12713,melanesians,11.0,"('a', 'a', 'e', 'e', 'i', 'l', 'm', 'n', 'n', ...","(3, 8)",-1,-1,-1,"(1, 5)",-1,...,-1,-1,"(6, 10)",-1,-1,-1,-1,-1,-1,-1
332985,12713,jewelryinfo,11.0,"('e', 'e', 'f', 'i', 'j', 'l', 'n', 'o', 'r', ...",-1,-1,-1,-1,"(1, 3)","(9,)",...,-1,"(5,)",-1,-1,-1,-1,"(2,)",-1,"(6,)",-1
333163,12712,financeiros,11.0,"('a', 'c', 'e', 'f', 'i', 'i', 'n', 'n', 'o', ...","(3,)",-1,"(5,)",-1,"(6,)","(0,)",...,-1,"(8,)","(10,)",-1,-1,-1,-1,-1,-1,-1
333188,12711,wwwsexdrugs,11.0,"('d', 'e', 'g', 'r', 's', 's', 'u', 'w', 'w', ...",-1,-1,-1,"(6,)","(4,)",-1,...,-1,"(7,)","(3, 10)",-1,"(8,)",-1,"(0, 1, 2)","(5,)",-1,-1
333274,12711,hyundaecard,11.0,"('a', 'a', 'c', 'd', 'd', 'e', 'h', 'n', 'r', ...","(5, 8)",-1,"(7,)","(4, 10)","(6,)",-1,...,-1,"(9,)",-1,-1,"(2,)",-1,-1,-1,"(1,)",-1

In [ ]:
number_of_first_guess = int(input(f"number of {first_guess}"))
location = []
for _ in range(number_of_first_guess):
    location.append(int(input(f"location of {first_guess}")))
location